{% extends "base.html" %}

{% block content %}

<div id="clock" class="clock"></div>

<section class="servicios">
    <h2>Nuestros Servicios</h2>
    <div class="cards">
        <div class="card">
            <i class="fa-solid fa-computer"></i>
            <h3>Mantenimiento de PCs</h3>
            <p>Optimización, limpieza y mejora de rendimiento profesional.</p>
        </div>

        <div class="card">
            <i class="fa-solid fa-code"></i>
            <h3>Instalación de Software</h3>
            <p>Implementación segura de sistemas y herramientas empresariales.</p>
        </div>

        <div class="card">
            <i class="fa-solid fa-network-wired"></i>
            <h3>Redes & Soporte Técnico</h3>
            <p>Infraestructura tecnológica confiable para tu empresa.</p>
        </div>
    </div>
</section>

{% endblock %}
