<section class="login">
    <h2>Iniciar sesión</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alerta">
            {{ messages[0] }}
        </div>
      {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Entrar</button>
    </form>

    <hr style="margin:20px 0;">

    <a href="{{ url_for('login_google') }}">
        <button style="background:#4285F4; color:white; border:none; padding:10px; width:100%; cursor:pointer;">
            Iniciar sesión con Google
        </button>
    </a>

    <p>¿No tienes cuenta? <a href="{{ url_for('registro') }}">Regístrate aquí</a></p>
</section>
