{% extends "base.html" %}

{% block title %}Login Admin{% endblock %}

{% block content %}

<section class="login-admin">
    <h2>Acceso Administrador</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alerta">
            {{ messages[0] }}
        </div>
      {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Ingresar</button>
    </form>
</section>

{% endblock %}
