<!DOCTYPE html>
<html lang="es">
<head>
      <meta charset="UTF-8">
    <title>Contacto | SOFNET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- FAVICON -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <a href="https://wa.me/593984098439" class="whatsapp" target="_blank">
    <i class="fa-brands fa-whatsapp"></i>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    
</head>
<body>

<nav>
    <a href="/">Inicio</a>
    <a href="/servicios">Servicios</a>
    <a href="/nosotros">Nosotros</a>
    <a href="/contacto">Contacto</a>
</nav>

<h1>Sobre Nosotros</h1>
<p>En SOFNET ofrecemos soluciones tecnológicas, desarrollo web y soporte digital.</p>

</body>
</html>
