<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Servicios | SOFNET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <a href="https://wa.me/593984098439" class="whatsapp" target="_blank">
    <i class="fa-brands fa-whatsapp"></i>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>


    💬
</a>

<body>

<header>
    <div class="logo">SOFNET</div>
    <nav>
        <a href="/">Inicio</a>
        <a href="/servicios">Servicios</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/contacto">Contacto</a>
    </nav>
</header>

<section class="servicios">
    <h2>Nuestros Servicios</h2>

    <div class="cards">
        <div class="card">
            <h3>Mantenimiento de Computadoras</h3>
            <p>Optimización, limpieza y reparación de equipos.</p>
        </div>

        <div class="card">
            <h3>Instalación de Software</h3>
            <p>Sistemas operativos, programas y licencias.</p>
        </div>

        <div class="card">
            <h3>Redes y Soporte Técnico</h3>
            <p>Configuración de redes y asistencia técnica.</p>
        </div>
    </div>
</section>

<footer>
    <p>© 2026 SOFNET - Todos los derechos reservados</p>
</footer>

</body>
</html>
